<div style = 'width: 100%; text-align:center; background-color:#89C4F4; font-size: 1.2em'>
  <h1>Hello stranger!</h1>
  <p>Let's get to know each other</p>
  <div>
    <form action="/details" method="post">
      <label for="name">What's your name?</label><br>
      <input type="text" name="name"> <br> <br>
      <label for="birthday">When is your birthday?</label><br>
      <label for="day">Day</label><input type="number" name="day">
      <label for="month">Month</label>
      <select name="month">
        <option value="january">January</option>
        <option value="february">February</option>
        <option value="march">March</option>
        <option value="april">April</option>
        <option value="may">May</option>
        <option value="June">June</option>
        <option value="july">July</option>
        <option value="august">August</option>
        <option value="september">September</option>
        <option value="october">October</option>
        <option value="november">November</option>
        <option value="december">December</option>
      </select>
      <div style = 'margin-top: 20px; padding-bottom: 20px'>
          <input type="submit" name="Go" value="Go" style ='width: 10%; height: 10%; border-radius: 50px'>
      </div>
    </form>

  </div>

</div>
