<div style = 'width: 100%; text-align:center; background-color:#89C4F4; font-size: 1.2em'>
  <h1>Hello stranger!</h1>
  <p>Let's get to know each other</p>
  <div>
    <form action="/details" method="post">
      <label>What's your name?</label><br>
      <input type="text" name="name"> <br> <br>
      <label>When is your birthday?</label><br>
      <label>Day</label><input type="number" name="day">
      <label>Month</label>
      <select name="month">
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
      <div style = 'margin-top: 20px; padding-bottom: 20px'>
          <input type="submit" name="Go" value="Go" style ='width: 10%; height: 10%; border-radius: 50px'>
      </div>
    </form>

  </div>

</div>
